<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <form method="post" action="/hello">
        <input type="text" name="name"/>
        <input type="submit" value="Greet Me!"/>
    </form>

<!--<form action='/hello/form' method='post'> + // submit a request to /hello/form-->
<!--    <input type='text' name='name'>-->
<!--    <select name='language'>-->
<!--        <option value='English'>English</option>-->
<!--        <option value='French'>French</option>-->
<!--        <option value='Chinese'>Chinese</option>-->
<!--        <option value='Spanish'>Spanish</option>-->
<!--        <option value='Japanese'>Japanese</option>-->
<!--        </select>-->
<!--    <input type='submit' value='Greet Me!'>-->
<!--    </form>-->
</body>
</html>